<?xml version="1.0" encoding="UTF-8"?>

<plugin id="fi.eerohele.embedpdf">
  <require plugin="org.dita.pdf2"/>

  <feature extension="dita.xsl.messages" file="resources/messages.xml"/>

  <feature extension="org.dita.pdf2.xsl.topicmerge"
    type="file" file="xsl/topicmerge.xsl"/>

  <feature extension="dita.xsl.xslfo" type="file" file="xsl/topic2fo.xsl"/>

  <feature extension="dita.conductor.lib.import"
    type="file" file="../../lib/commons-io.jar"/>
  <feature extension="dita.conductor.lib.import"
    type="file" file="../../lib/dost.jar"/>

  <feature extension="dita.conductor.lib.import"
    type="file" file="../org.dita.pdf2/fop/lib/avalon-framework-4.2.0.jar"/>
  <feature extension="dita.conductor.lib.import"
    type="file" file="../org.dita.pdf2/fop/lib/batik-all-1.7.jar"/>
  <feature extension="dita.conductor.lib.import"
    type="file" file="../org.dita.pdf2/fop/lib/commons-logging-1.0.4.jar"/>
  <feature extension="dita.conductor.lib.import"
    type="file" file="../org.dita.pdf2/fop/lib/xmlgraphics-commons-1.5.jar"/>
  <feature extension="dita.conductor.lib.import"
    type="file" file="../org.dita.pdf2/fop/build/fop.jar"/>

  <feature extension="dita.conductor.lib.import"
    type="file" file="lib/fop-pdf-images-2.1.0.SNAPSHOT.jar"/>
  <feature extension="dita.conductor.lib.import"
    type="file" file="lib/jempbox-1.3.1.jar"/>
  <feature extension="dita.conductor.lib.import"
    type="file" file="lib/pdfbox-1.3.1.jar"/>
  <feature extension="dita.conductor.lib.import"
    type="file" file="lib/fontbox-1.3.1.jar"/>
</plugin>
